.soccerfield {
    background-image: url('../src/timothy-tan-PAe2UhGo-S4-unsplash.jpg');
    background-position: fixed;
    background-size: cover;
}

.green {
    background-color: #2D6A4F;
    margin: 10%;
    padding: 10%;
}

.padding {
    margin: 10%;
    padding: 10%;
    text-align: center;
}