a {
    color: white;
}

button {
    color: #3d394d;
    background-color: #1B4332;
    padding: 10px;
    text-align: center;
}

form {
    width: 100%
}

.center {
    justify-content: center;
}

.green {
    background-color: #2d3b6a;
    margin: 10%;
    padding: 10%;
}

.navBarButton {
    color: #74C69D;
}

.padding {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.soccerfield {
    background-image: url('../src/broncos\ stadium\ dark.png');
    background-position: fixed;
    background-size: cover;
}

.title {
    color: white;
    font-size: 40px;
}

.width-sm {
    width: 100px;
}