.soccerfield {
    background-image: url('../src/broncos\ stadium\ dark.png');
    background-position: fixed;
    background-size: cover;
}

.green {
    background-color: #2d3b6a;
    margin: 10%;
    padding: 10%;
}

.padding {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

form {
    width: 97%;
}

.center {
    justify-content: center;
}

.navBarButton {
    color: #74C69D;
}

a {
    color: white;
}
